<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>

<body>
<form id="edit" name="edit" method="post" action="edit">
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Save" />
</form>

</body>

</html>